﻿@model IEnumerable<SolicitudEmpleado.Data.viewUsuarioBloqueados>

@{
    ViewBag.Title = "Buscar Bloqueo Usuario";
}
<div class="row">

    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsuarioNombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreadoPor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </th>
                    @*<th></th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.UsuarioID).ToHtmlString(), "detalle", new { id = item.UsuarioID })
                </td>
                <td>
                    @if (String.IsNullOrEmpty(item.UsuarioNombre))
                        {
                        @Html.DisplayFor(modelItem => item.EmpresaNombre)
                        }
                        else
                        {
                        @Html.DisplayFor(modelItem => item.UsuarioNombre)
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreadoPor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @if (item.Bloqueado)
                        {
                        <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Desbloquear", "Bloqueos", new { id = item.BloqueoID })')">Desbloquear</a>
                        }
                        else
                        {
                        <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Bloquear", "Bloqueos", new { id = item.UsuarioID, empresaID = item.EmpresaID })')">Bloquear</a>
                        }
                </td>
            </tr>
            }
            </tbody>
        </table>

        <div class="form-actions">

            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Bloquear", "Bloqueos")')">Crear Nuevo Bloqueo</a>

        </div>
    </div>
</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}