﻿To: @ViewBag.To
Subject: @ViewBag.Encabezado

@{
    var solicitud = (SolicitudEmpleado.Data.Solicitud)ViewBag.Solicitud;
    var usuario = (SeguridadComun.Usuario)ViewBag.Usuario;
    string oficina = ViewBag.Oficina as string;
}

<div>
    
    <p>
        Estimado Sr(a). @solicitud.NombreEmpleado,
    </p>

    <p>
        Su solicitud número @solicitud.SolicitudID.ToString("000000"), ah cambiado a estado @solicitud.Estatu.Nombre.
    </p>

    @if (solicitud.MontoAprobado > 0)
    {
        <p>
            El monto pre-aprobado para su solicitud es @solicitud.MontoAprobado.
        </p>
    }
  
    <div style="margin-top: 25px;">
        <dl>
            <dt>
                <strong>Para más información, contactar a:</strong>
            </dt>
            <dt>
                @usuario.nombreCompleto
            </dt>
            <dt>
                <a href="mailto:@usuario.correo">@usuario.correo.ToLower()</a>
            </dt>
            <dt>
                @( String.IsNullOrEmpty(oficina) ? "" : oficina)
            </dt>
            <dt>
                @usuario.puesto
            </dt>
            <dt>
                @usuario.departamento
            </dt>
            <dt>
                @usuario.telefonoForm
            </dt>
        </dl>
    </div>

</div>