﻿To: @ViewBag.To
Subject: @ViewBag.Encabezado

@{
    var solicitud = (SolicitudEmpleado.Data.Solicitud)ViewBag.Solicitud;
    var usuario = (SeguridadComun.Usuario)ViewBag.Usuario;
    string oficina = ViewBag.Oficina as string;
}

<p>Estimado Sr(a). @solicitud.NombreEmpleado,</p>

@Html.Raw(ViewBag.Mensaje.Replace(Environment.NewLine, "<br />"))

<div style="margin-top: 25px;">
    <dl>
        <dt>
            <strong> Para más información, contactar a:</strong>
            <br />
        </dt>
        <dt>
            @usuario.nombreCompleto
        </dt>
        <dt>
            <a href="mailto:@usuario.correo">@usuario.correo.ToLower()</a>
        </dt>
        <dt>
            @usuario.puesto
        </dt>
        <dt>
            @usuario.departamento
        </dt>
        <dt>
            @usuario.telefonoForm
        </dt>
    </dl>
</div>
