﻿@model SolicitudEmpleado.Data.Invitacion

@{
    ViewBag.Title = "Detalles Invitacion";
}

<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>



    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.TiposSolicitud, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposSolicitud.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Enviar, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enviar)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Nota, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt>
            <label class="control-label col-md-2" for="Token">Link</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>


    </dl>
</div>

</div>
