﻿@model SolicitudEmpleado.Models.EditarSolicitudViewModel

@{
    Layout = "~/Views/Shared/Layouts/_Layout_NotLogged.cshtml";
}

@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = " Crear Nueva " + ViewBag.TipoSolicitudNombre;
    int lastTipoPropiedadID = 0;
    int nextTipoPropiedadID = 0;
    int indexTipoPropiedadID = 1;
    int columna = 1;
    int fila = 1;
    bool esTabla = false;
    bool esAgregar = false;
    int nextTipoPropiedadID2 = 0;
    int indexTipoPropiedadID2 = 1;
    if (Model.SolicitudEnviada)
    {
        ViewBag.Title = "Solicitud Enviada";
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Request.Url.PathAndQuery" data-is-error="@Model.MostrarSoloErrorPrincipal">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.solicitud.SolicitudID)
            @Html.HiddenFor(p => p.solicitud.TipoSolicitudID)
            @Html.HiddenFor(p => p.solicitud.TipoID)
            @Html.HiddenFor(p => p.solicitud.TipoIdentificacionID)

            <h3 class="titulo">@ViewBag.Title</h3>
      
            <div class="row">
                @if (Model.SolicitudEnviada)
                {
                    <p class="bg-primary" style="padding: 15px; font-style: italic;">Datos Enviados Correctamente, por favor contactarse con el encargado y informar que ya lleno la solicitud. Numero de Solicitud es: @Model.solicitud.SolicitudID.ToString(). Muchas Gracias!</p>
                    <div class="col-sm-12 col-md-12">
                        <div class="text-center">
                            <a class="btn btn-primary" href="~/"><i class="icon-home"></i>&nbsp;Inicio</a>
                            <a class="btn btn-primary" href="~/Solicitudes/Crear/1"><i class="icon-off"></i>&nbsp;Nueva Activacion</a>
                            <a class="btn btn-primary" href="~/Solicitudes/Crear/2"><i class="icon-exchange"></i>&nbsp;Nuevo Cambio de Plan</a>
                            <a class="btn btn-primary" href="~/Solicitudes/Crear/3"><i class="icon-plus-sign-alt"></i>&nbsp;Nuevo Adicion de Linea</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="breadcrumbs">
                            <li class="first"><a href="~/" class="icon-home"></a></li>
                            @for (int i = 0; i < Model.Procesar.Count; i++)
                            {
                                if (nextTipoPropiedadID2 == 0 || nextTipoPropiedadID2 != Model.Procesar[i].TipoPropiedadID)
                                {
                                    <li class="item-li li-@indexTipoPropiedadID2 @(indexTipoPropiedadID2==1 ? "active" : "")" data-index="@indexTipoPropiedadID2"><a href="#" class="a-@indexTipoPropiedadID2">@Model.Procesar[i].TipoPropiedadNombre</a></li>
                                    nextTipoPropiedadID2 = Model.Procesar[i].TipoPropiedadID;
                                    indexTipoPropiedadID2++;
                                }
                            }
                        </ul>
                    </div>
                       
                        @Html.ValidationSummary(Model.MostrarSoloErrorPrincipal, "", new { @class = "alert alert-danger" })
                        <div class="panels">
                            @for (int i = 0; i < Model.Procesar.Count; i++)
                            {
                                string idcontrol = "Procesar_" + i.ToString() + "__Valor";
                                if (nextTipoPropiedadID == 0 || nextTipoPropiedadID != Model.Procesar[i].TipoPropiedadID)
                                {
                                    if (esTabla)
                                    {
                                        var botonAgregar = (esAgregar ? "<button type='button' class='add-to-table btn btn-primary pull-right' data-tr='tr-" + lastTipoPropiedadID.ToString() + "'><i class='icon-plus'></i></button><button type='button' class='rem-to-table btn btn-primary pull-right' data-tr='tr-" + lastTipoPropiedadID.ToString() + "'><i class='icon-minus'></i></button>" : "");
                                        @Html.Raw("</tbody></table>" + botonAgregar + "</div>")
                                        esTabla = false;
                                        esAgregar = false;
                                    }
                                    lastTipoPropiedadID = Model.Procesar[i].TipoPropiedadID;
                                    if (nextTipoPropiedadID == 0)
                                    {
                                        @Html.Raw("<div class='active panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
                                    }
                                    else
                                    {
                                        @Html.Raw("</div><div class='panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
                                    }
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h5>
                                            @Model.Procesar[i].TipoPropiedadNombre
                                        </h5>
                                        <hr />
                                    </div>if (Model.Procesar[i].Columnas.HasValue)
                                    {
                                        esTabla = true;
                                        esAgregar = Model.Procesar[i].Agregar;
                                        @Html.Raw("<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><table class='table table-bordered table-condensed table-striped ta-" + Model.Procesar[i].TipoPropiedadID.ToString() + "' data-columnas='" + Model.Procesar[i].Columnas.ToString() + "'><thead><tr>")
                                    }
                                    nextTipoPropiedadID = Model.Procesar[i].TipoPropiedadID;
                                    indexTipoPropiedadID++;
                                    columna = 1;
                                    fila = 1;
                                }

                                if (!Model.Procesar[i].Columnas.HasValue)
                                {
                                    <div style="display:none;">
                                        @Html.HiddenFor(p => p.Procesar[i].Nombre)
                                        @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                                        @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadNombre)
                                        @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadID)
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="@idcontrol">
                                                @Html.DisplayFor(model => model.Procesar[i].Nombre)
                                            </label>
                                            <div>
                                                @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                                                @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (fila == 1)
                                    {
                                        <td>
                                            @Html.HiddenFor(p => p.Procesar[i].Nombre)
                                            @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                                            @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadNombre)
                                            @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadID)
                                            <label class="control-label" for="@idcontrol">
                                                @Html.DisplayFor(model => model.Procesar[i].Nombre)
                                            </label>
                                        </td>
                                        if (columna == Model.Procesar[i].Columnas)
                                        {
                                            @Html.Raw("</tr></thead><tbody>")
                                        }
                                    }
                                    else
                                    {
                                        if (columna == 1)
                                        {
                                            @Html.Raw("<tr class='tr-" + Model.Procesar[i].TipoPropiedadID.ToString() + " id-" + Model.Procesar[i].PropiedadID.ToString() + "' >")
                                        }
                                        <td>
                                            @Html.HiddenFor(p => p.Procesar[i].Nombre)
                                            @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                                            @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadNombre)
                                            @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadID)
                                            @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                                            @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                                        </td>
                                        if (columna == Model.Procesar[i].Columnas)
                                        {
                                            @Html.Raw("</tr>")
                                        }
                                    }

                                    if (columna == Model.Procesar[i].Columnas)
                                    {
                                        fila++;
                                        columna = 0;
                                    }
                                    columna++;
                                }
                            }
                            @if (esTabla)
                            {
                                var botonAgregar = (esAgregar ? "<button type='button' class='add-to-table btn btn-primary pull-right' data-tr='tr-" + lastTipoPropiedadID.ToString() + "'><i class='icon-plus'></i></button><button type='button' class='rem-to-table btn btn-primary pull-right' data-tr='tr-" + lastTipoPropiedadID.ToString() + "'><i class='icon-minus'></i></button>" : "");
                                @Html.Raw("</tbody></table>"+ botonAgregar + "</div>")
                                esTabla = false;
                                esAgregar = false;
                            }
                            @Html.Raw("</div>")
                        </div>
                        <div class="clearfix" style="height: 10px;"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <hr />
                            <button type="button" value="back" class="hide back btn btn-primary pull-left"><i class="icon-undo"></i>&nbsp;Atras </button>
                            <button type="button" value="next" class="next btn btn-primary pull-right"><i class="icon-chevron-right"></i>&nbsp;Siguiente </button>
                            <button type="submit" value="submit" class="hide submit-form btn btn-primary pull-right"> Finalizar </button>
                        </div>
                        <div style="display:none;">
                            <input id="index-procesar" name="index-procesar" class="index-procesar" type="hidden" value="@Model.Procesar.Count">
                        </div>
                        }
                    </div>
        </form>
    </div>
</div>

@section scripts{

    <style>
        .panels > div {
            display: none;
        }

        .panels .active {
            display: inherit !important;
        }

        .add-to-table {
            margin-left: 15px;
        }
    </style>

    <!-- Validacion de MVC -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Validacion de MVC END -->

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Crear.js"></script>
    <link href="~/Content/breadcrumbs.css" rel="stylesheet" />
    <script src="~/Scripts/Solicitudes/breadcrumbs.js"></script>

}
