﻿@model SolicitudEmpleado.Models.EditarSolicitudViewModel

@using SolicitudEmpleado.Helpers

@{

    var tipo1 = "";

    if (Model.solicitud != null)
    {
        tipo1 = Model.solicitud.TiposSolicitud.Nombre + " " + Model.solicitud.Tipos.Nombre;
    }

    ViewBag.Title = " Editar " + tipo1;

    int nextTipoPropiedadID = 0;
	int indexTipoPropiedadID = 1;
	int columna = 1;
	int fila = 1;
	bool esTabla = false;

}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo pull-left">@ViewBag.Title</h3>
        <h3 class="pull-right">#@Model.solicitud.SolicitudID</h3>
        @Html.Partial("_MensajeError")
        <form method="post" action="@Request.Url.PathAndQuery">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.solicitud.SolicitudID)
            @Html.HiddenFor(p => p.solicitud.Identificacion)
            @Html.HiddenFor(p => p.solicitud.TipoIdentificacionID)
            <div class="row">
                <div class="panels">
                    @for (int i = 0; i < Model.Procesar.Count; i++)
                {
                    string idcontrol = "Procesar_" + i.ToString() + "__Valor";
                    if (nextTipoPropiedadID == 0 || nextTipoPropiedadID != Model.Procesar[i].TipoPropiedadID)
                    {
                        if (esTabla)
                        {
                @Html.Raw("</tbody></table></div>")
                            esTabla = false;
                        }
                        if (nextTipoPropiedadID == 0)
                        {
                @Html.Raw("<div class='active panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
                        }
                        else
                        {
                @Html.Raw("</div><div class='panel-" + @indexTipoPropiedadID + "' data-index='" + @indexTipoPropiedadID + "'>")
                        }
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>
                        @Model.Procesar[i].TipoPropiedadNombre
                    </h5>
                    <hr />
                </div>if (Model.Procesar[i].Columnas.HasValue)
                        {
                            esTabla = true;
                @Html.Raw("<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><table class='table table-bordered table-condensed table-striped'><thead><tr>")
                        }
                        nextTipoPropiedadID = Model.Procesar[i].TipoPropiedadID;
                        indexTipoPropiedadID++;
                        columna = 1;
                        fila = 1;
                    }
                <div style="display:none;">
                    @Html.HiddenFor(p => p.Procesar[i].Nombre)
                    @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                    @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadNombre)
                    @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadID)
                </div>
                    if (!Model.Procesar[i].Columnas.HasValue)
                    {
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="@idcontrol">
                            @Html.DisplayFor(model => model.Procesar[i].Nombre)
                        </label>
                        <div>
                            @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                            @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                        </div>
                    </div>
                </div>
                    }
                    else
                    {
                        if (fila == 1)
                        {
                <td>
                    <label class="control-label" for="@idcontrol">
                        @Html.DisplayFor(model => model.Procesar[i].Nombre)
                    </label>
                </td>
                            if (columna == Model.Procesar[i].Columnas)
                            {
                @Html.Raw("</tr></thead><tbody>")
                            }
                        }
                        else
                        {
                            if (columna == 1)
                            {
                @Html.Raw("<tr id='tr-" + Model.Procesar[i].PropiedadID.ToString() + "'>")
                            }
                <td>
                    @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                    @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                </td>
                            if (columna == Model.Procesar[i].Columnas)
                            {
                @Html.Raw("</tr>")
                            }
                        }

                        if (columna == Model.Procesar[i].Columnas)
                        {
                            fila++;
                            columna = 0;
                        }
                        columna++;
                    }
                }
                    @if (esTabla)
                {
                @Html.Raw("</tbody></table></div>")
                    esTabla = false;
                }
                    @Html.Raw("</div>")
                </div>
                <div class="clearfix" style="height: 10px;"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                    @Html.Action("_Comentarios", "Comentarios", new { SolicitudID = Model.solicitud.SolicitudID })
                    @Html.GetBotonesDeAcciones(ViewBag.EstatusID as IEnumerable<SelectListItem>, "solicitud.EstatusID", Model.solicitud.EstatusID)
                    <button type="submit" value="0" class="btn btn-primary"> Guardar </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <style>
        #divComentarios {
            margin-bottom: -42px;
        }
    </style>
     <!-- Validacion de MVC -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Validacion de MVC END -->
    <!-- Para los comentarios section BEGIN-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- Para los comentarios section END-->

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Edit.js"></script>
    <script src="~/Scripts/Comentarios/AgregarComentario.js"></script>

}
