﻿@model SolicitudEmpleado.Models.EditarSolicitudViewModel

@{
    Layout = "~/Views/Shared/Layouts/_Layout_NotLogged.cshtml";
}

@using SolicitudEmpleado.Helpers

@{
    ViewBag.Title = " Crear Nueva " + ViewBag.TipoSolicitudNombre;
    int nextTipoPropiedadID = 0;
    if (Model.SolicitudEnviada) 
    {
        ViewBag.Title = "Solicitud Enviada";
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Request.Url.PathAndQuery">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
            @Html.HiddenFor(p => p.solicitud.SolicitudID)
            @Html.HiddenFor(p => p.solicitud.TipoSolicitudID)
            @Html.HiddenFor(p => p.solicitud.TipoID)
            @Html.HiddenFor(p => p.solicitud.TipoIdentificacionID)
            @Html.HiddenFor(p => p.solicitud.InvitacionId)

            <h3 class="titulo">@ViewBag.Title</h3>
            @Html.Partial("_MensajeError")
            @if (Model.SolicitudEnviada)
            {
                <p class="bg-primary" style="padding: 15px; font-style: italic;">Datos Enviados Correctamente, por favor contactarse con el encargado y informar que ya lleno la solicitud. Numero de Solicitud es: @Model.solicitud.SolicitudID.ToString(). Muchas Gracias!</p>
            }
            else
            {
                <div>
                    @for (int i = 0; i < Model.Procesar.Count; i++)
                    {
                        if (nextTipoPropiedadID == 0 || nextTipoPropiedadID != Model.Procesar[i].TipoPropiedadID)
                        {
                            <div class="clearfix" style="height: 10px;"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h5>
                                    @Model.Procesar[i].TipoPropiedadNombre
                                </h5>
                                <hr />
                            </div>
                            <div class="clearfix" style="height: 10px;"></div>
                            nextTipoPropiedadID = Model.Procesar[i].TipoPropiedadID;
                        }
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">
                                    @Html.HiddenFor(p => p.Procesar[i].Nombre)
                                    @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                                    @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadNombre)
                                    @Html.HiddenFor(p => p.Procesar[i].TipoPropiedadID)
                                    @Html.DisplayFor(model => model.Procesar[i].Nombre)
                                </label>
                                <div>
                                    @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                                    @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix" style="height: 10px;"></div>
                    <div class="form-actions col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" value="0" class="btn btn-primary"> Guardar </button>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@section scripts{

    <style>
        dd input, dd select {
            margin-bottom: 9px;
        }
    </style>

    <!-- Validacion de MVC -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- Validacion de MVC END -->

    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Nueva.js"></script>

}
