﻿@model SolicitudEmpleado.Models.EditarSolicitudViewModel

@using SolicitudEmpleado.Helpers

@{

    var tipo1 = "";

    if (Model.solicitud != null)
    {
        tipo1 = Model.solicitud.TiposSolicitud.Nombre;
    }

    ViewBag.Title = " Procesar " + tipo1;

}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>
        @Html.Partial("_MensajeError")
        <h5>
            Datos Personales
        </h5>
        <hr />
        <div class="row" style="margin-top: -10px; width: 85%; margin-left: auto; margin-right: auto; color: #777;">
            <div class="col-md-6 col-sm-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Model.solicitud.TiposSolicitud.Nombre
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Tipos.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Estatu.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Estatu.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.NombreEmpleado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.NombreEmpleado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.CodigoEmpleado)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.CodigoEmpleado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Empresa.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Empresa.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.TiempoServicio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.TiempoServicio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Identificacion)
                    </dt>
                    <dd>
                        @Model.solicitud.Identificacion
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Sueldo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Sueldo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Cuenta)
                    </dt>
                    <dd>
                        @Model.solicitud.Cuenta  &nbsp;
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Direccion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Direccion)  &nbsp;
                    </dd>

                </dl>
            </div>
            <div class="col-md-6 col-sm-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.SolicitudID)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.SolicitudID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.NumeroSolicitud)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solicitud.NumeroSolicitud) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.FechaSolicitud)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solicitud.FechaSolicitud) &nbsp;
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.TipoEmpleado.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.TipoEmpleado.Nombre) &nbsp;
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Posicion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Posicion) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Departamento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Departamento) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.TelefonoOficina)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.TelefonoOficina) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.TelefonoCelular)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.TelefonoCelular) &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Email)  &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.solicitud.Monto)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Monto)  &nbsp;
                    </dd>

                </dl>
            </div>
            <div class="clearfix"></div>
            <div style="float:right; margin-right:-17px; margin-top:-17px;">
                <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Nueva", "Notificacion", new { id = Model.solicitud.SolicitudID })')">Notificar Empleado</a>
            </div>
        </div>

        <h5>
            Prestamos Vigentes
        </h5>
        <hr />
        <div id="divContenedorPrestamos"
             data-url="@Url.Action("","Solicitudes")">
        </div>
       <div class="clearfix" style="height: 10px;"></div>
        <h5>
            Calculo
        </h5>
        <hr />
        <form method="post" action="@Request.Url.PathAndQuery">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(p => p.solicitud.SolicitudID)
            @Html.HiddenFor(p => p.solicitud.Identificacion)
            @Html.HiddenFor(p => p.solicitud.TipoIdentificacionID)

            <div class="" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        <dt style="color: black;">
                            INGRESOS
                        </dt>
                        <dd>
                            &nbsp;
                        </dd>
                        @for (int i = 0; i < Model.EditarIngresos.Count; i++)
                    {
                    <dt>
                        @Html.HiddenFor(p => p.EditarIngresos[i].Nombre)
                        @Html.HiddenFor(p => p.EditarIngresos[i].PropiedadID)
                        @Html.DisplayFor(model => model.EditarIngresos[i].Nombre)
                    </dt>
                    <dd>
                        @Html.EditorForPropiedad(Model.EditarIngresos[i], "EditarIngresos[" + i.ToString() + "]", "EditarIngresos")
                        @Html.ValidationMessageForPropiedad("EditarIngresos[" + i.ToString() + "]")
                    </dd>
                    }

                    </dl>
                </div>
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">

                        <dt style="color: black;">
                            DEDUCCIONES
                        </dt>
                        <dd>
                            &nbsp;
                        </dd>
                        @for (int i = 0; i < Model.EditarDeducciones.Count; i++)
                    {
                    <dt>
                        @Html.HiddenFor(p => p.EditarDeducciones[i].Nombre)
                        @Html.HiddenFor(p => p.EditarDeducciones[i].PropiedadID)
                        @Html.DisplayFor(model => model.EditarDeducciones[i].Nombre)
                    </dt>
                    <dd>
                        @Html.EditorForPropiedad(Model.EditarDeducciones[i], "EditarDeducciones[" + i.ToString() + "]", "EditarDeducciones")
                        @Html.ValidationMessageForPropiedad("EditarDeducciones[" + i.ToString() + "]")
                    </dd>
                    }
                    </dl>
                </div>
                <div class="clearfix"></div>
                <div style="float:right; margin-right:-17px; margin-top:-17px;">
                    <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Detalle", "Documentos", new { id = Model.solicitud.SolicitudID })')">Documentos Pendientes</a>
                    @Html.ActionLink("Reiniciar Disponibilidad", "Procesar", new { id = Model.solicitud.SolicitudID, a = "true" }, new { @class = "btn btn-primary" })
                </div>
                <div class="clearfix"></div>
            </div>

            <h5>
                Datos Finales
            </h5>
            <hr />
            <div class="row" style="width: 85%; margin-left: auto; margin-right: auto; color: #777; clear:both;">
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < Model.TotalIngreso.Count; i++)
                    {
                    <dt>
                        @Html.HiddenFor(p => p.TotalIngreso[i].Nombre)
                        @Html.HiddenFor(p => p.TotalIngreso[i].PropiedadID)
                        @Html.DisplayFor(model => model.TotalIngreso[i].Nombre)
                    </dt>
                    <dd>
                        @Html.EditorForPropiedad(Model.TotalIngreso[i], "TotalIngreso[" + i.ToString() + "]")
                        @Html.ValidationMessageForPropiedad("TotalIngreso[" + i.ToString() + "]")
                    </dd>
                    }
                        @for (int i = 0; i < Model.Procesar.Count; i++)
                    {
                    <dt>
                        @Html.HiddenFor(p => p.Procesar[i].Nombre)
                        @Html.HiddenFor(p => p.Procesar[i].PropiedadID)
                        @Html.DisplayFor(model => model.Procesar[i].Nombre)
                    </dt>
                    <dd>
                        @Html.EditorForPropiedad(Model.Procesar[i], "Procesar[" + i.ToString() + "]")
                        @Html.ValidationMessageForPropiedad("Procesar[" + i.ToString() + "]")
                    </dd>
                    }

                    </dl>
                </div>
                <div class="col-md-6 col-sm-6">
                    <dl class="dl-horizontal">
                        @for (int i = 0; i < Model.TotalDeducciones.Count; i++)
                    {
                    <dt>
                        @Html.HiddenFor(p => p.TotalDeducciones[i].Nombre)
                        @Html.HiddenFor(p => p.TotalDeducciones[i].PropiedadID)
                        @Html.DisplayFor(model => model.TotalDeducciones[i].Nombre)
                    </dt>
                    <dd>
                        @Html.EditorForPropiedad(Model.TotalDeducciones[i], "TotalDeducciones[" + i.ToString() + "]")
                        @Html.ValidationMessageForPropiedad("TotalDeducciones[" + i.ToString() + "]")
                    </dd>
                    }
                    </dl>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-actions">
                @Html.GetBotonesDeAcciones(ViewBag.EstatusID as IEnumerable<SelectListItem>, "solicitud.EstatusID", Model.solicitud.EstatusID)
                <button type="submit" value="0" class="btn btn-primary"> Guardar </button>
            </div>
        </form>
    </div>
</div>
@*@Html.Action("_Comentarios", "Comentarios", new { SolicitudID = Model.solicitud.SolicitudID })*@

@section scripts{

    @{
        //Para Usar un Tema de JQuery UI
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }

        var jTableStyle = "jqueryui/jtable_jqueryui.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }

    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->
 <!-- Validacion de MVC -->
    
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<!-- Validacion de MVC END -->

       <!-- Para los comentarios section BEGIN-->
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Para los comentarios section END-->


    <script src="~/Scripts/number_format.js"></script>
    <script src="~/Scripts/Solicitudes/Procesar.js"></script>

}
