﻿@using (Html.BeginForm("index", "solicitudes", FormMethod.Get, new { @class = "navbar-form pull-right" }))
{
    <input id="q" name="q" type="search" style="box-sizing: inherit;" class="search col-md-3 form-control" placeholder="Búsqueda...">
    <div class="btn-group">
        <a class="btn dropdown-toggle btn-default" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="icon-search"></i> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" id="BuscarCodigo">Por Codigo</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" id="BuscarCedula">Por Cedula</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#" id="BuscarSolicitud">Por Solicitud</a>
            </li>
        </ul>
    </div>
    
}
