﻿@{
  string nombreApp = System.Web.Configuration.WebConfigurationManager.AppSettings["Seguridad.App.Nombre"];
}

<div class="row">
    @*<div class="span6">
        <h5>Copyright</h5>
    </div>
    <div class="span3">
        <h5>Intranet</h5>
        <ul>

        </ul>
    </div>    
    <div class="span3">
        <h5>Soporte</h5>
        <ul>

        </ul>
    </div>*@              
</div>