﻿@using System.Web.Configuration;
@{ string appNombre = WebConfigurationManager.AppSettings["Seguridad.App.Nombre"]; }

<div class="row">
  <div class="col-sm-12 col-md-12">

    <div class="logotext">
      <h2>@appNombre</h2>
    </div>

  </div>
</div>