﻿@*<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
          @using SolicitudEmpleado.MVCV3.Componentes.Extensiones;
        @Html.MenuAplicacion("~/Config/Menu.xml")
        @Html.Partial("Controles/Layout/Busqueda")
      </div>
    </div>
  </div>
</div>*@

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#idnavbar1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="idnavbar1">
            @using SolicitudEmpleado.MVCV3.Componentes.Extensiones;
            @Html.MenuAplicacion("~/Config/Menu.xml")
            @Html.Partial("Controles/Layout/Busqueda")
        </div>
    </div>
</nav>