﻿<div class="menuvertical">
    <ul>
        <li><a class="ttip" title="Ir al inicio" href="#"><i class="icon-home icon-2x"></i><span>Inicio</span></a></li>
        <li><a class="ttip" title="" href="#"><i class="icon-question-sign icon-2x"></i><span>Ayuda</span></a></li>
    </ul>
</div>