﻿@if (TempData["MensajeError"] != null)
{
    string mensajeError = TempData["MensajeError"].ToString();
    string tipo = mensajeError.Split('|').First();
    string contenido = mensajeError.Split('|').Last();

    if (tipo == "ok")
    {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul><li>@contenido</li></ul>
        </div>
    }
    else if (tipo == "error")
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">×</button>
			<ul><li>@contenido</li></ul>
        </div>
    }
    else if (tipo == "info")
    {
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul><li>@contenido</li></ul>
        </div>
    }
    else
    {
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <ul><li>@contenido</li></ul>
        </div>
    }

    TempData["MensajeError"] = null;
}