﻿@model SolicitudEmpleado.Data.MatrizEstado

@{
    ViewBag.Title = "Eliminar Matriz Estados";
}


<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

        <h5>Esta seguro que desea eliminar este registro?</h5> @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
 
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.EstatusActualID, new { @class = "title" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstatusActual.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.EsSupervisor, new { @class = "title" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EsSupervisor)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.EstatusPuedePasarID, new { @class = "title" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstatusPuedePasar.Nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" />
        </div>
        }
      
    </div>
</div>
