﻿@model SolicitudEmpleado.Models.ListadoMatrizViewModel

@{
    ViewBag.Title = "Matriz Estados";
}
<div class="row">
    <div class="col-md-12">

        <h3 class="titulo">@ViewBag.Title</h3>
        <div class="col-md-3" style="z-index: 1; margin-left: -15px;">
            @Html.DropDownListFor(model => model.DesdeEstadoId, ViewBag.ListaTipos as SelectList, new { @class = "form-control myselect2"})
        </div>
        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Desde Estado
                    </th>
                    <th>
                        Es Supervisor
                    </th>
                    <th>
                        Hasta Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Listado){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusActual.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsSupervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusPuedePasar.Nombre)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        Accion
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="cargarModal('@Url.Action("Delete", "MatrizEstados",
                           new { id = item.EstatusActualID, id1 = item.EsSupervisor, id2 = item.EstatusPuedePasarID })')">
                                Eliminar
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
}
            </tbody>
        </table>

        <div class="form-actions">
            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Create", "MatrizEstados", new { id = Model.DesdeEstadoId })')">Crear Nuevo Matriz Estados</a>
        </div>
    </div>
</div>

@section scripts{

    @*Datatable BEING*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

<script>

    $(document).ready(function () {

        var nombreDelBoton = "#DesdeEstadoId";

        $(nombreDelBoton).change(function () {
            var selectedValue = $('#DesdeEstadoId').val();
            var div = document.getElementById(nombreDelBoton.replace('#', ''));
            var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
            var url = divRoot + 'MatrizEstados/Index/' + selectedValue;
            Redirect(url);

        });

    });

</script>


}
