﻿ul.breadcrumbs {
    margin: 15px 0px 15px 0px;
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    height: 40px;
    width: 100%;
}

    ul.breadcrumbs li {
        position: relative;
        margin: 0px 0px;
        padding: 0px;
        list-style: none;
        list-style-image: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        border-left: 1px solid #ccc;
        transition: 0.3s ease;
    }

        ul.breadcrumbs li:hover:before {
            border-left: 10px solid #000000;
        }

        ul.breadcrumbs li:hover a {
            color: #fff;
            /*background: #96be11;*/
            background-color: #000000;
            border-bottom: 1px solid #000000;
        }

        ul.breadcrumbs li:before {
            content: "";
            position: absolute;
            right: -9px;
            top: -1px;
            z-index: 20;
            border-left: 10px solid #fff;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
            transition: 0.3s ease;
        }

        ul.breadcrumbs li:after {
            content: "";
            position: absolute;
            right: -10px;
            top: -1px;
            z-index: 10;
            border-left: 10px solid #ccc;
            border-top: 22px solid transparent;
            border-bottom: 22px solid transparent;
        }

        ul.breadcrumbs li.active:before {
            border-left: 10px solid #000000;
        }

        ul.breadcrumbs li.active a {
            color: #fff;
            background: #000000;
            /*background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
            background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
            background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
            background-repeat: no-repeat;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
            -webkit-filter: none;
            filter: none;*/
            border-bottom: 1px solid #000000;
            background-repeat: no-repeat;
            color: #ffffff;
        }

        ul.breadcrumbs li.first {
            border-left: none;
        }

            ul.breadcrumbs li.first a {
                font-size: 18px;
                padding-left: 20px;
                border-radius: 5px 0px 0px 5px;
            }

        ul.breadcrumbs li.last:before {
            display: none;
        }

        ul.breadcrumbs li.last:after {
            display: none;
        }

        ul.breadcrumbs li.last a {
            padding-right: 20px;
            border-radius: 0px 40px 40px 0px;
        }

        ul.breadcrumbs li a {
            display: block;
            font-size: 12px;
            line-height: 40px;
            color: #757575;
            padding: 0px 15px 0px 25px;
            text-decoration: none;
            background: #fff;
            border: 1px solid black;
            white-space: nowrap;
            overflow: hidden;
            transition: 0.3s ease;
        }
