﻿@model SolicitudEmpleado.Data.Estatu

@{
    ViewBag.Title = "Detalles Estado";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>

            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.TiposSolicitud, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TiposSolicitud.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Activo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.EnviarCorreo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EnviarCorreo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Accion, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Accion)
                </dd>

            </dl>
    
    </div>
</div>
