﻿@model SolicitudEmpleado.Models.ComentarioViewModel

@Html.HiddenFor(m => m.intSolicitudID)

<dl>
    <dt>
        Comentario:
    </dt>
    <dd>
        @Html.EditorFor(m => m.strValor)
    </dd>
</dl>
<div class="form-actions" style="margin-top: -20px;">
    <button id="btnAddComents" type="button" class="btn btn-primary"> Agregar Comentario </button>
</div>
<div class="clearfix"></div>