﻿@model IEnumerable<SolicitudEmpleados.MVCV3.Models.ApplicationUser>

@{
    ViewBag.Title = "Application Users";
}
<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>
        @Html.Partial("_MensajeError")

        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Codigo Empleado
                    </th>
                    <th>
                        Usuario ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        User Name
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        Accion
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" onclick="cargarModal('@Url.Action("Details", "Usuarios", new { id=item.Id })')">Detalle</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" onclick="cargarModal('@Url.Action("Edit", "Usuarios", new { id=item.Id })')">Editar</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" onclick="cargarModal('@Url.Action("Delete", "Usuarios", new { id=item.Id })')">Eliminar</a>
                        </li>
                        @*<li class="divider"></li>
                        <li>
                            <a href="~/Usuarios/Roles/@item.Id">Roles</a>
                        </li>*@
                    </ul>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" href="~/Usuarios/Roles/@item.Id">Roles</a>
            </td>
        </tr>
}
            </tbody>
        </table>

        <div class="form-actions">
            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Create", "Usuarios")')">Crear Nuevo Usuario</a>
        </div>
    </div>
</div>

@section scripts{

    @*Datatable BEING*@
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
