﻿@model SolicitudEmpleado.Models.RolesAccesosViewModel

@{
    ViewBag.Title = "Accesos de Rol " + Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>
        @Html.Partial("_MensajeError")
        <dl class="dl-horizontal">

            <dt>
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">Accesos</h3>

        <table class="display table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Listado)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.idAcceso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td><a href="@Url.Action("EliminarAcceso", "Roles", new { id = Model.Id, idAcceso = item.idAcceso })" class="btn btn-primary">Eliminar</a></td>
                        
                    </tr>
                 }
            </tbody>
        </table>

        <div class="form-actions">
            <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("AgregarAcceso", "Roles", new { id = Model.Id })')">Añadir Acceso</a>
        </div>
    </div>
</div>

@section scripts{

    @*Datatable BEING*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
