﻿@model SolicitudEmpleado.Data.Propiedad

@{
    ViewBag.Title = "Eliminar Propiedad";
}

<div class="row">
    <div class="col-md-12">

        <h3 class="titulo">@ViewBag.Title</h3>

        <h5>Esta seguro que desea eliminar este registro?</h5> @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
 

            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.PropiedadTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PropiedadTipo.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.RegularExpression, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegularExpression)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.PlaceHolder, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PlaceHolder)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.PorDefecto, htmlAttributes: new { @class = "control-label col-md-2" })
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PorDefecto)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-primary" />
    </div>
    }
        </div>

    
</div>
