﻿@model SeguridadComun.Usuario

@{
    bool? avanzadas = ViewBag.OpcionesAvanzadas as bool?;
    string grupo = ViewBag.GrupoUsuario as string;
    string oficina = ViewBag.Oficina as string;
}
<div class="row">
    <div class="col-md-12">
     <h3 class="titulo">Información de Usuario</h3>
        <dl style="margin-top: -10px;">
            <dt>Nombre</dt>
            <dd>@Model.nombreCompleto</dd>
            <dt>Código</dt>
            <dd>@Model.codigoEmpleado</dd>
            <dt>Correo</dt>
            <dd>
                <a href="mailto:@Model.correo">
                    @if(Model.correo != null) { <span>@Model.correo.ToLower()</span> }
                </a>
            </dd>
        </dl>

        <div class="">
            @if (avanzadas.GetValueOrDefault())
            {
                <div class="col-sm-6 col-md-6">
                    <dl class="row">
                        <dt>Usuario de Red</dt>
                        <dd>@User.Identity.Name.ToLower()</dd>
                        <dt>Estado</dt>
                        <dd>@(Model.activo ? "Activo" : "Inactivo")</dd>
                    </dl>
                </div>}
        </div>
    </div>
</div>