﻿@model SeguridadComun.Usuario

@{
  Layout = "~/Views/Shared/Layouts/_Layout_Menu.cshtml";
}

@Html.Partial("_Usuario", Model)

@*@section menu {
  <ul>
      <li><a class="ttip" href="@Url.Action("Refrescar")"><i class="icon-refresh icon-2x"></i><span>Refrescar</span></a></li>
  </ul>
}*@