﻿@model IEnumerable<SolicitudEmpleados.MVCV3.Models.Accesos>

@{
    ViewBag.Title = "Accesos o Permisos";
}

<div class="row">
    <div class="col-md-12">
<h3 class="titulo">@ViewBag.Title</h3>
@Html.Partial("_MensajeError")
<table class="display table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAcceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
             <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                    Accion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Details", "Accesos", new { id=item.idAcceso })')">Detalle</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Edit", "Accesos", new { id=item.idAcceso })')">Editar</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" onclick="cargarModal('@Url.Action("Delete", "Accesos", new { id=item.idAcceso })')">Eliminar</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
}
    </tbody>
    </table>

    <div class="form-actions">
        <a href="#" class="btn btn-primary" onclick="cargarModal('@Url.Action("Create", "Accesos")')">Crear Nuevo Accesos o Permiso</a>
    </div>
   </div>
</div>

@section scripts{

    @*Datatable BEING*@
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.jqueryui.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    @*Datatable END*@

    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/myCodeDataTable.js"></script>

}
