﻿@model SolicitudEmpleado.Data.ReferenciaEikon

@{
    ViewBag.Title = "Detalles Referencia Eikon";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="titulo">@ViewBag.Title</h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.ReferenciaEikonId, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReferenciaEikonId)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

        </dl>
    </div>

</div>
