﻿@{
    Layout = "~/Views/Shared/_Masterpage.cshtml";
}

<div class="fullrow wrapper_header">
    <div class="container">
        @Html.Partial("Controles/Layout/Header")
    </div>
</div>

<div class="fullrow wrapper_menu">
    <div class="container">
        @Html.Partial("Controles/Layout/Menu-Horizontal")
    </div>
</div>

<div class="fullrow wrapper_content">
    <div class="container bgmenu">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<div class="fullrow wrapper_footer">
    <div class="container">
        @Html.Partial("Controles/Layout/Footer")
    </div>
</div>

@section scripts {
    @RenderSection("scripts", required: false)
}

@section styles {
    @RenderSection("styles", required: false)
}